﻿@model Paylocity.Business.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeNbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeNbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
        
    <div class="jumbotron">

        <h2>Paycheck Estimation</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PaychecksPerYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaychecksPerYear)
            </dd>

            <dt>Number Of Dependents</dt>
            <dd>@Model.EmployeeDependents.Count</dd>
            <dt>
                @Html.DisplayNameFor(model => model.EstimatePaycheck().GrossPay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstimatePaycheck().GrossPay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstimatePaycheck().TotalDeductions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstimatePaycheck().TotalDeductions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EstimatePaycheck().NetPay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EstimatePaycheck().NetPay)
            </dd>
        </dl>
    </div>


</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
